div.gallery {
  margin: 8px;
  border: 1px solid #000000;
  float: left;
  width: 30%;
}
/*div.header {
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #FFFFFF;
    }*/
div.gallery img:hover {
  border: 1px solid #ffffff;
}

div.gallery img {
  width: 100%;
  height: auto;
  margin: 0px;
}

div.desc {
  padding: 10px;
  text-align: center;
  font-size:80%;
  word-wrap: break-word;
  background-color: #ffffff;
}
.btn {
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid #333333;
}
